/*********************************************
 * Fullscreen images
 *********************************************/

.fullscreen {
    background-size: cover;
    -moz-background-size: cover;
}

.fullscreen .state-background {
    width: 100%;
    height: 100%;
}

.fullscreen .reveal .slides {
    margin: 0px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.fullscreen .reveal .slides > section {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: left;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 20px;
    padding-top: 40px;
}

.fullscreen .reveal .slides > section > section {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    min-height: 100%;
    margin: 0px;
    text-align: left;
    padding: 20px;
    padding-top: 40px;
}

.full {
    height: 100%;
    width: 100%;
}

h2, .bottom_r {
    margin-bottom: 75px !important;
    margin-right: 40px !important;
    background: #008080;
    padding: 5px 10px !important;
    font-variant: small-caps !important;
    box-shadow: 5px 5px 0px #000;
    top: 0px;
    left: 0px;
    position: absolute;
    font-size: 1.2em !important;
}

.answer {
    margin-top: 100px !important;
    margin-right: 40px !important;
    background: #3b3a36;
    padding: 5px 10px !important;
    font-variant: small-caps !important;
    box-shadow: 5px 5px 0px #000;
    top: 0px;
    left: 0px;
    position: absolute;
    display: none;
}

audio {
    margin-bottom: 75px !important;
    background: #008080;
    bottom: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
}

h2
{
    margin-bottom: 75px !important;
    margin-right: 40px !important;
    background: #008080;
    padding: 5px 10px !important;
    font-variant: small-caps !important;
    box-shadow: 5px 5px 0px #000;
    top: 0px;
    left: 0px;
    position: absolute;
}

h3
{
    margin-top: 100px !important;
    margin-right: 40px !important;
    background: #3b3a36;
    padding: 5px 10px !important;
    font-variant: small-caps !important;
    box-shadow: 5px 5px 0px #000;
    top: 0px;
    left: 0px;
    position: absolute;
}